<footer class="site-footer">

  <div class="wrap">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-1 column">
      <ul>
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <ul>
        {% if site.pinterest_username %}<li>
            <a href="http://www.pinterest.com/{{ site.pinterest_username }}">
                <span class="icon"><i class="fa fa-pinterest"></i></span>
                <span class="username">{{ site.pinterest_username}}</span>
            </a>
        </li> {% endif %}
        {% if site.instagram_username %}<li>
            <a href="http://www.instagram.com/{{ site.instagram_username }}">
                <span class="icon"><i class="fa fa-instagram"></i></span>
                <span class="username">{{ site.instagram_username}}</span>
            </a>
        </li> {% endif %}
        {% if site.twitter_username %}<li>
            <a href="http://www.twitter.com/{{ site.twitter_username }}">
                <span class="icon"><i class="fa fa-twitter"></i></span>
                <span class="username">{{ site.twitter_username}}</span>
            </a>
        </li> {% endif %}
        {% if site.facebook_username %}<li>
            <a href="http://www.facebook.com/{{ site.facebook_username }}">
                <span class="icon"><i class="fa fa-facebook"></i></span>
                <span class="username">{{ site.facebook_username}}</span>
            </a>
        </li> {% endif %}
        {% if site.youtube_username %}<li>
            <a href="http://www.youtube.com/{{ site.youtube_username }}">
                <span class="icon"><i class="fa fa-youtube"></i></span>
                <span class="username">{{ site.youtube_username}}</span>
            </a>
        </li> {% endif %}
        {% if site.vimeo_username %}<li>
            <a href="http://www.vimeo.com/{{ site.vimeo_username }}">
                <span class="icon"><i class="fa fa-vimeo"></i></span>
                <span class="username">{{ site.vimeo_username}}</span>
            </a>
        </li> {% endif %}
        {% if site.soundcloud_username %}<li>
            <a href="http://www.soundcloud.com/{{ site.soundcloud_username }}">
                <span class="icon"><i class="fa fa-soundcloud"></i></span>
                <span class="username">{{ site.soundcloud_username}}</span>
            </a>
        </li> {% endif %}
        {% if site.github_username %}<li>
            <a href="http://www.github.com/{{ site.github_username }}">
                <span class="icon"><i class="fa fa-github"></i></span>
                <span class="username">{{ site.github_username}}</span>
            </a>
        </li> {% endif %}
        {% if site.tumblr_username %}<li>
            <a href="http://www.tumblr.com/{{ site.tumblr_username }}">
                <span class="icon"><i class="fa fa-tumblr"></i></span>
                <span class="username">{{ site.tumblr_username}}</span>
            </a>
        </li> {% endif %}
        {% if site.linkedin_username %}<li>
            <a href="http://www.linkedin.com/in/{{ site.linkedin_username }}">
                <span class="icon"><i class="fa fa-linkedin"></i></span>
                <span class="username">{{ site.linkedin_username}}</span>
            </a>
        </li> {% endif %}
        {% if site.googleplus_username %}<li>
            <a href="http://www.googleplus.com/in/{{ site.googleplus_username }}">
                <span class="icon"><i class="fa fa-googleplus"></i></span>
                <span class="username">{{ site.googleplus_username}}</span>
            </a>
        </li> {% endif %}
        {% if site.reddit_username %}<li>
            <a href="http://www.reddit.com/in/{{ site.reddit_username }}">
                <span class="icon"><i class="fa fa-reddit"></i></span>
                <span class="username">{{ site.reddit_username}}</span>
            </a>
        </li> {% endif %}
        {% if site.digg_username %}<li>
            <a href="http://www.digg.com/in/{{ site.digg_username }}">
                <span class="icon"><i class="fa fa-digg"></i></span>
                <span class="username">{{ site.digg_username}}</span>
            </a>
        </li> {% endif %}
        {% if site.stumbleupon_username %}<li>
            <a href="http://www.stumbleupon.com/in/{{ site.stumbleupon_username }}">
                <span class="icon"><i class="fa fa-stumbleupon"></i></span>
                <span class="username">{{ site.stumbleupon_username}}</span>
            </a>
        </li> {% endif %}
        {% if site.sinaweibo_username %}<li>
            <a href="http://www.sinaweibo.com/in/{{ site.sinaweibo_username }}">
                <span class="icon"><i class="fa fa-sinaweibo"></i></span>
                <span class="username">{{ site.sinaweibo_username}}</span>
            </a>
        </li> {% endif %}
        {% if site.dounban_username %}<li>
            <a href="http://www.dounban.com/in/{{ site.dounban_username }}">
                <span class="icon"><i class="fa fa-dounban"></i></span>
                <span class="username">{{ site.dounban_username}}</span>
            </a>
        </li> {% endif %}
        {% if site.hackernews_username %}<li>
            <a href="http://www.hackernews.com/in/{{ site.hackernews_username }}">
                <span class="icon"><i class="fa fa-hackernews"></i></span>
                <span class="username">{{ site.hackernews_username}}</span>
            </a>
        </li> {% endif %}
        {% if site.vkontakte_username %}<li>
            <a href="http://www.vkontakte.com/in/{{ site.vkontakte_username }}">
                <span class="icon"><i class="fa fa-vkontakte"></i></span>
                <span class="username">{{ site.vkontakte_username}}</span>
            </a>
        </li> {% endif %}
      </ul>
    </div>

    <div class="footer-col-3 column">
      <p class="text">{{ site.description }}</p>
    </div>

  </div>

</footer>
