<footer class="site-footer">

  <div class="wrap">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-1 column">
      <ul>
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <ul>
        {% if site.pinterest %}<li>
            <a href="http://www.pinterest.com/{{ site.pinterest }}">
                <span class="icon"><i class="fa fa-pinterest"></i></span>
                <span class="username">{{ site.pinterest}}</span>
            </a>
        </li> {% endif %}
        {% if site.instagram %}<li>
            <a href="http://www.instagram.com/{{ site.instagram }}">
                <span class="icon"><i class="fa fa-instagram"></i></span>
                <span class="username">{{ site.instagram}}</span>
            </a>
        </li> {% endif %}
        {% if site.twitter %}<li>
            <a href="http://www.twitter.com/{{ site.twitter }}">
                <span class="icon"><i class="fa fa-twitter"></i></span>
                <span class="username">{{ site.twitter}}</span>
            </a>
        </li> {% endif %}
        {% if site.facebook %}<li>
            <a href="http://www.facebook.com/{{ site.facebook }}">
                <span class="icon"><i class="fa fa-facebook"></i></span>
                <span class="username">{{ site.facebook}}</span>
            </a>
        </li> {% endif %}
        {% if site.youtube %}<li>
            <a href="http://www.youtube.com/{{ site.youtube }}">
                <span class="icon"><i class="fa fa-youtube"></i></span>
                <span class="username">{{ site.youtube}}</span>
            </a>
        </li> {% endif %}
        {% if site.vimeo %}<li>
            <a href="http://www.vimeo.com/{{ site.vimeo }}">
                <span class="icon"><i class="fa fa-vimeo"></i></span>
                <span class="username">{{ site.vimeo}}</span>
            </a>
        </li> {% endif %}
        {% if site.soundcloud %}<li>
            <a href="http://www.soundcloud.com/{{ site.soundcloud }}">
                <span class="icon"><i class="fa fa-soundcloud"></i></span>
                <span class="username">{{ site.soundcloud}}</span>
            </a>
        </li> {% endif %}
        {% if site.github %}<li>
            <a href="http://www.github.com/{{ site.github }}">
                <span class="icon"><i class="fa fa-github"></i></span>
                <span class="username">{{ site.github}}</span>
            </a>
        </li> {% endif %}
      </ul>
    </div>

    <div class="footer-col-3 column">
      <p class="text">{{ site.description }}</p>
    </div>

  </div>

</footer>
