  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{{ page.tags | join: "," }}">
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link href="{{ "/assets/fontawesome-free-5.15.3-web/css/all.min.css" | relative_url }}" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    {%- if page.uid %}
      {%- assign translations = site.pages | where: "uid",page.uid -%}
      {%- for t in translations %}
    <link rel="alternate" hreflang="{{t.lang}}" href="{{t.url | absolute_url}}" />
      {%- endfor %}
    {%- endif %}
    {% feed_meta %}
    <script src="{{ "/js/extlinks.js" | relative_url }}" type="text/javascript"></script>
{%- if site.google_analytics -%}
{%- unless site.url contains "localhost" %}
{%- unless site.url contains "0.0.0.0" %}
{% include google-analytics.html %}
{% endunless -%}
{% endunless -%}
{%- endif -%}
{%- if page.mathjax %}
{% include mathjax.html %}
{% endif %}
{% seo %}
  </head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2STGWVVD8N"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2STGWVVD8N');
</script>
