{%- include i18n.html -%}
        <div class="PageNavigation">
{%- assign p = page -%}
{%- for i in (0..999) -%}
  {%- if p.uid != page.uid -%}
    {%- assign post = posts | where: "uid",uid | first -%}
    {%- break -%}
  {%- endif -%}
  {%- if p.previous -%}
    {%- assign p = p.previous -%}
    {%- continue -%}
  {%- else -%}
    {%- assign p = nil -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}
{%- if p %}
  {%- assign post = posts | where: "uid",p.uid | first -%}
          <div class="prev">
              <br/><a href="{{post.url}}">{{post.title}}</a><br/>
{%- include flags.html uid=post.uid -%}
          </div>
{%- endif %}
{%- assign p = page -%}
{%- for i in (0..999) -%}
  {%- if p.uid != page.uid -%}
    {%- assign post = posts | where: "uid",uid | first -%}
    {%- break -%}
  {%- endif -%}
  {%- if p.next -%}
    {%- assign p = p.next -%}
    {%- continue -%}
  {%- else -%}
    {%- assign p = nil -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}
{%- if p %}
  {%- assign post = posts | where: "uid",p.uid | first -%}
          <div class="next">
              <br/><a href="{{post.url}}">{{post.title}}</a><br/>
{%- include flags.html uid=post.uid -%}
          </div>
{%- endif %}
        </div>
