  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    {%- if site.rss -%}<p class="rss-subscribe"><a href="{{ 'feed.xml' | relative_url }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg> <span>{{ site.rss | escape }}</span></a></p>{%- endif -%}
    <ul class="post-list">
      {% assign uids=site.posts | sort: 'date' | reverse | map:"uid" | uniq %}
      {%- for uid in uids -%}
        {%- assign posts=site.posts | where:"uid",uid | sort: 'lang' -%}
        {%- assign main_post=posts | first | default: main_post -%}
        {%- assign main_post=posts | where:"lang","en" | first | default: main_post -%}
        {%- assign main_post=posts | where:"lang",site.lang | first | default: main_post -%}
        {%- assign main_post=posts | where:"lang",page.lang | first | default: main_post -%}
        <li>
          {%- assign date_format = site.date_format | default: "%-d %b %Y" %}
          <span class="post-meta">{{ main_post.date | date: date_format }}</span> {% for p in posts %}<a href="{{p.url | relative_url}}"><img src="{{ "/assets/FlagpediaNet/" | relative_url }}{{p.lang}}.svg" class="lang-flag"/></a>{% endfor %}
          <h3><a class="post-link" href="{{ main_post.url | relative_url }}">{{ main_post.title | escape }}</a></h3>
          {%- if site.show_excerpts -%}
            {{ main_post.excerpt }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {%- endif -%}
