    {% case page.lang %}
      {% when "en" %}<p>While waiting for a next content, if you found this post interesting, feel free to subscribe to the <a target="_blank" href="{{site.url}}/feed.xml">RSS feed</a> or to share it on your prefered social networks. You can also ask questions or give feedbacks in the comments below.</p>
      {% else %}<p>En attendant un prochain contenu, si cet article vous a plût, n’hésitez pas à vous abonner au <a target="_blank" href="{{site.url}}/feed.xml">flux RSS</a> ou à le partager sur vos réseaux sociaux préférés. Vous pouvez aussi poser des questions ou donner des informations complémentaires dans les commentaires ci-dessous.</p>
    {% endcase %}
