{%- assign translations=posts | where:"uid",post.uid | sort: 'lang' -%}
{%- assign main_post=translations | first | default: main_post -%}
{%- assign main_post=translations | where:"lang","en" | first | default: main_post -%}
{%- assign main_post=translations | where:"lang",site.lang | first | default: main_post -%}
{%- assign main_post=translations | where:"lang",page.lang | first | default: main_post -%}
<li>
    {%- assign date_format = site.date_format | default: "%-d %b %Y" %}
    <span class="post-meta">{{ main_post.date | date: date_format }}, {{ main_post.author }}</span> {% for p in translations %}<a href="{{p.url | relative_url}}"><img src="{{ "/assets/FlagpediaNet/" | relative_url }}{{p.lang}}.svg" class="lang-flag"/></a>{% endfor %}
    <a class="post-link" href="{{ main_post.url | relative_url }}">{{ main_post.title | escape }}</a>
    {%- if page.show_excerpts -%}
    {{ main_post.excerpt }}
    {% endif %}
</li>
