    {% case page.lang %}
      {% when "en" %}
<p>While waiting for a next content, if you found this post interesting, feel free to subscribe to the <a target="_blank" href="{{site.url}}{{site.baseurl}}/feed.xml">RSS feed</a> or to share it on your prefered social networks. You can also ask questions or give feedbacks in the comments below.</p>
<p>You can also follow me on <a href="http://www.twitter.com/fcerbelle">Twitter</a>, subscribe to my <a href="http://www.youtube.com/FrancoisCerbelle">Youtube channel</a> or subscribe to my <a href="https://www.meetup.com/fr-FR/members/130641882/">meetup groups</a></p>
      {% else %}
<p>En attendant un prochain contenu, si cet article vous a plût, n’hésitez pas à vous abonner au <a target="_blank" href="{{site.url}}{{site.baseurl}}/feed.xml">flux RSS</a> ou à le partager sur vos réseaux sociaux préférés. Vous pouvez aussi poser des questions ou donner des informations complémentaires dans les commentaires ci-dessous.</p>
<p>Vous pouvez aussi me suivre sur <a href="http://www.twitter.com/fcerbelle">Twitter</a>, vous abonner à ma <a href="http://www.youtube.com/FrancoisCerbelle">chaîne Youtube</a> ou à mes <a href="https://www.meetup.com/fr-FR/members/130641882/">groupes meetup</a></p>
    {% endcase %}
