          <ul class="social-media-list">
            <li><a href="https://www.facebook.com/{{ site.facebook_username| cgi_escape | escape }}" class="fa fa-facebook-official"><span class="username"> {{ site.facebook_username| escape }}</span></a></li>
            <li><a href="https://github.com/{{ site.github_username| cgi_escape | escape }}" class="fa fa-github"><span class="username"> {{ site.github_username| escape }}</span></a></li>
            <li><a href="https://instagram.com/{{ site.instagram_username| cgi_escape | escape }}" class="fa fa-instagram"><span class="username"> {{ site.instagram_username| escape }}</span></a></li>
            <li><a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}" class="fa fa-linkedin"><span class="username"> {{ site.linkedin_username| escape }}</span></a></li>
            <li><a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}" class="fa fa-twitter"><span class="username"> {{ site.twitter_username| escape }}</span></a></li>
            <li><a href="https://youtube.com/{{ site.youtube_username| cgi_escape | escape }}" class="fa fa-youtube"><span class="username"> {{ site.youtube_username| escape }}</span></a></li>
            <li><a href="https://www.meetup.com/fr-FR/members/{{ site.meetup_username| cgi_escape | escape }}" class="fa fa-meetup"><span class="username"> {{ site.meetup_username| escape }}</span></a></li>
            <li><a href="{{ 'feed.xml' | relative_url }}" class="fa fa-rss"><span class="username"> RSS/Atom</span></a></li>
          </ul>
