        <div id="share-bar">
            <h3><i class="fa fa-hands-helping share-button"> Support me: </i></h4>
            <div class="share-buttons">
                <a  href="https://www.patreon.com/fcerbelle"
                    onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                    title="Support me on Patreon" >
                    <i class="fa fa-patreon share-button"> patreon</i>
                </a>
                <a  href="https://fr.tipeee.com/fcerbelle"
                    onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                    title="Support me on Tipeee" >
                    <i class="fa fa-tipeee share-button"> tipeee</i>
                </a>
            </div>
        </div>
