<div class="social-share">
    {% case page.lang %}
      {% when "en" %}
      <p>You can support me on 
        <a class="socicon-patreon" href="http://" target="_blank" title="Patreon">Patreon</a> and on 
        <a class="socicon-tipee" href="http://" target="_blank" title="Tipee">Tipee</a>.
        This will help me to buy video hardware to improve the quality of my contents.</p>
      {% else %}
      <p>Vous pouvez me supporter sur 
        <a class="socicon-patreon" href="http://" target="_blank" title="Patreon">Patreon</a> et sur
        <a class="socicon-tipee" href="http://" target="_blank" title="Tipee">Tipee</a>.
      Cela m'aidera à acheter du matériel vidéo pour améliorer la qualité de mes contenus</p>
    {% endcase %}
</div>
