<div class="social-share">
    {% case page.lang %}
      {% when "en" %}
      <p>You can support me on 
        and on 
        <a class="socicon-patreon" href="https://www.patreon.com/bePatron?u=26437313" target="_blank" title="Patreon"></a>
        <a href="https://www.patreon.com/bePatron?u=26437313" target="_blank" title="Patreon">Patreon</a> and 
        <a class="socicon-tipeee" href="https://fr.tipeee.com/fcerbelle" target="_blank" title="Tipeee"></a>
        <a href="https://fr.tipeee.com/fcerbelle" target="_blank" title="Tipeee">Tipeee</a>.
        This will help me to buy video hardware to improve the quality of my contents.</p>
      {% else %}
      <p>Vous pouvez me supporter sur 
        <a class="socicon-patreon" href="https://www.patreon.com/bePatron?u=26437313" target="_blank" title="Patreon"></a>
        <a href="https://www.patreon.com/user/creators?u=26437313" target="_blank" title="Patreon">Patreon</a> et 
        <a class="socicon-tipeee" href="https://fr.tipeee.com/fcerbelle" target="_blank" title="Tipeee"></a>
        <a href="https://fr.tipeee.com/fcerbelle" target="_blank" title="Tipeee">Tipeee</a>.
      Cela m'aidera à acheter du matériel vidéo pour améliorer la qualité de mes contenus</p>
    {% endcase %}
</div>
