.tags-dictionnary {
    list-style: none; /* Remove default bullets */
    .tags-initial {
        font-weight: bold;
        border: 1px solid black;
        border-radius: 5px;
        padding: 2px;
        background-color: #ffff7f;
    }
    li {
        width:100%;
    }
}

div.tag-list {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #dfdfdf;
}

.tag-list {
  a::before {
    padding-left: 3px;
    font-family: "FontAwesome";
    content: "\f02b";
  }
}
