---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "minima";
@import "share-bar";
@import "pagenav";
@import "taglist";

// Compact the title
.site-title {
    letter-spacing: -2px;
}

// First line indentation
p {
    text-indent: 30px;
}

article .externalLink,
footer .externalLink {
    &::after {
      padding-left: 3px;
      font-family: "FontAwesome";
      font-size: 10px;
      content: "\f08e";
    }
}

.flags {
    margin: 0px;
    border: 0px;
    padding: 0px;
}
img.flag {
    margin: 0px;
    border: solid 1px white;
    padding: 2px;
    max-width: 30px;
    max-height: 20px;
    &:hover {
        border: solid 1px black;
    }
}

div.post-content img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.3);
}

.contact-list {
  a[href^="mailto"]::before {
    padding-right: 10px;
    font-family: "FontAwesome";
    content: "\f0e0";
  }
  a[href^="tel"]::before {
    padding-right: 10px;
    font-family: "FontAwesome";
    content: "\f095";
  }
  a[href^="sms"]::before {
    padding-right: 10px;
    font-family: "FontAwesome";
    content: "\f7cd";
  }
  a[href^="skype"]::before {
    padding-right: 10px;
    font-family: "FontAwesome";
    color: #1686d9;
    content: "\f17e";
  }
}

