---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "minima";
@import "share-bar";
@import "search-bar";
@import "pagenav";
@import "taglist";
@import "flags";
@import "ribbon";


// Compact the title
.site-title {
    letter-spacing: -2px;
}

.post-excerpt,
.post-content,
.front-matter {
    p {
        text-indent: 20px; // First line indentation
    }
    img,video {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 5px;
        box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.3);
        width: 90%; // auto responsive width
    }
}


h1 {
    @include relative-font-size(2.0);
    text-align: center;
}
h2 {
    @include relative-font-size(2.0);
}
h3 {
    @include relative-font-size(1.8);
}
h4 {
    @include relative-font-size(1.6);
}
h5 {
    @include relative-font-size(1.4);
    font-weight: bold;
}
h6 {
    @include relative-font-size(1.2);
    font-weight: bold;
}
@include media-query(800px) {
    h1 {
        @include relative-font-size(2.0);
    }
    h2 {
        @include relative-font-size(1.8);
    }
    h3 {
        @include relative-font-size(1.6);
    }
    h4 {
        @include relative-font-size(1.4);
    }
    h5 {
        @include relative-font-size(1.2);
    }
    h6 {
        @include relative-font-size(1.0);
    }
}

.externalLink:not([title^="Share"]):not([title^="Follow"]):not([title^="Support"])
{
    &::after {
        padding-left: 3px;
        font-family: "FontAwesome";
        font-size: 10px;
        content: "\f08e";
    }
}


.contact-list {
    a[href^="mailto"]::before {
        padding-right: 10px;
        font-family: "FontAwesome";
        content: "\f0e0";
    }
    a[href^="tel"]::before {
        padding-right: 10px;
        font-family: "FontAwesome";
        content: "\f095";
    }
    a[href^="sms"]::before {
        padding-right: 10px;
        font-family: "FontAwesome";
        content: "\f7cd";
    }
    a[href^="skype"]::before {
        padding-right: 10px;
        font-family: "FontAwesome";
        color: #1686d9;
        content: "\f17e";
    }
}

ul#markdown-toc,
ul.toc {
    background-color: #ffcfcf;
    border: 1px solid #ff0000;
    border-radius: 10px;
    padding-left: 5px;
    width: 250px;
    li { list-style: none; }
}

@media screen and (min-width: 1440px) {
    ul#markdown-toc,
    ul.toc{
        position: fixed;
        top: 70px;
        left: 50%;
        margin-left: 400px;
    }
}

/* Fixed page header */
.site-header {
    border-top: 5px solid #424242;
    border-bottom: 1px solid #e8e8e8;
    min-height: 55.95px;
    position: fixed;
    width: 100%;
    background-color: white;
}

.page-content {
    padding: 80px 0;
}

.signature {
    width: 100%;
    background-color: #cfcfcf;
    border: 1px solid black;
    border-radius: 5px;
    color: #7f7f7f;
    text-align: center;
    font-weight: bold;
}

.post-link {
  display: block;
  @include relative-font-size(1.4);
}

