---
layout: page
---
{{ content }}
{%- include i18n.html -%}
{%- for post in posts -%}
  {%- assign curryear = post.date | date: "%Y" -%}
  {%- if curryear != prevyear -%}
    {%- if prevyear %}
            </ul>
    {%- endif %}
            <h3>{{ curryear }}</h3>
            <ul>
  {%- endif -%}
  {%- assign prevyear = curryear %}
              <li><time>{{ post.date | date:"%d %b" }} - </time>
                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                  {{- post.title -}}
                </a>
{%- include flags.html uid=post.uid %}
              </li>
{%- endfor -%}
{%- if prevyear %}
            </ul>
{%- endif -%}
