---
layout: page
---
{%- include i18n.html -%}
{%- assign categories = posts | map: "category" | uniq | sort -%}
<div class="tags-expo">
{{ content }}
  <div class="tags-expo-list">
    {% for cat in categories -%}
    <a href="#{{ cat | slugify }}" class="post-tag">{{ cat }}</a>
    {% endfor -%}
  </div>
  <hr/>
  <div class="tags-expo-section">
    {%- for category in categories -%}
    <h2 id="{{ category | slugify }}">{{ category }}</h2>
    {%- assign cposts = posts | where: "category",category -%}
    <ul>
      {%- for post in cposts %}
      <li><time>{{ post.date | date:"%d %b" }} - </time>
        <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
          {{- post.title -}}
        </a>
        {%- include flags.html uid=post.uid %}
      </li>
      {%- endfor %}
    </ul>
    {% endfor %}
  </div>
</div>

