<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body onLoad="changeexternallinks()">
    {% include header.html %}
    <main class="page-content" aria-label="Content">
      <div class="languages">
        {%- if page.uid -%}
          {% assign list=site.posts | concat: site.pages | where:"uid", page.uid | sort: 'lang' -%}
          {%- for p in list -%}
            <a href="{{p.url | relative_url}}"><img src="{{ "/assets/FlagpediaNet/" | relative_url }}{{p.lang}}.svg" class="lang-flag"/></a>
          {%- endfor -%}
        {%- endif %}
      </div>
      <div class="wrapper">
        {{ content }}
        {% include share-bar.html %}
        {% include follow-bar.html %}
        {% include support-bar.html %}
        {%- if site.disqus.shortname -%}
            {%- include disqus_comments.html -%}
        {%- endif -%}
      </div>
    </main>
    {% include footer.html -%}
  </body>
</html>
