---
layout: page
---
{%- include i18n.html -%}
{%- for post in posts -%}
{%- assign rawtags = rawtags | concat:post.tags -%}
{%- endfor -%}

{%- for tag in rawtags -%}
{%- if tag != "" -%}
{%- unless tags contains tag -%}
{%- assign tags = tags | append:'|' | append:tag -%}
{%- endunless -%}
{%- endif -%}
{%- endfor -%}
{%- assign tags = tags | remove_first: "|" | split: "|" -%}

{%- comment -%}
case insensitive sorting (prepend each value with lcase value, sort, remove the lcase value)
{%- endcomment -%}
{%- assign tmptags = '' -%}
{%- for tag in tags -%}
{%- assign lctag = tag | downcase -%}
{%- assign tmptags = tmptags | append:',' | append: lctag | append:'|' | append: tag -%}
{%- endfor -%}
{%- assign tmptags = tmptags | remove_first: "," | split:',' | sort  -%}

{%- assign tags = '' -%}
{%- for tmptag in tmptags -%}
{%- assign ttag = tmptag | split:'|' -%}
{%- assign tags = tags | append:',' | append: ttag[1] -%}
{%- endfor -%}
{%- assign tags = tags | remove_first: "," | split:',' -%}

{%- assign initials = "" -%}
{%- for tag in tags -%}
{%- assign initial = tag | slice:0 | upcase -%}
{%- unless initials contains initial -%}
{%- assign initials = initials | append: "," | append: initial -%}
{%- endunless -%}
{%- endfor -%}
{%- assign initials = initials | remove_first: ',' | split: ',' | sort %}
            <ul class="tags-dictionnary">
{%- for initial in initials %}
              <li><span class="tags-initial">{{initial}}</span>
  {%- for tag in tags -%}
    {%- assign taginitial = tag | slice:0 | upcase -%}
    {%- if taginitial == initial %} • <a href="#{{ tag | slugify }}">{{ tag }}</a>{%- endif -%}
  {%- endfor -%}
</li>
{%- endfor %}
            </ul>
{%- for tag in tags -%}
  {%- if tag == empty -%}
    {%- continue -%}
  {%- endif %}
            <h2 id="{{ tag | slugify }}">{{ tag }}</h2>
            <ul>
  {%- assign uids = posts | map:"uid" | uniq -%}
  {%- for uid in uids -%}
    {%- if uid == empty -%}
      {%- continue -%}
    {%- endif -%}
    {%- assign post = posts | where: "uid",uid | first -%}
    {%- if post.tags contains tag %}
{% comment %}
{% include post_link.html post=post %}
{% endcomment %}
      <li><time>{{ post.date | date:"%d %b %Y" }} - </time>
        <a href="{{ post.url | relative_url }}">
          {{- post.title -}}
        </a>
        {%- include flags.html uid=post.uid %}
      </li>
    {%- endif -%}
  {%- endfor -%}
            </ul>
{%- endfor -%}
